<div class="tab-content" id="profileTeamsTabContent">
  <div class="col-12">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4">

      <app-project *ngFor="let project of projectsCount" class="col mb-3 mb-lg-5 template"></app-project>

    </div>
  </div>
</div>


<!-- /project/list -->

  <!-- {
    "containingCampaign": {
        "_id": "641e9b7f57168d74918b1afe",
        "prKey": "0psrzfouc8qd0hbcfr"
    },
    "projectType": {
        "_id": "6411a693ca413d4d43632863",
        "prKey": "c6dnz0i85wb9ye66hb"
    },
    "alertRecord": {
        "alerts": [],
        "updatedAt": "2023-03-28T09:50:02.712Z"
    },
    "_id": "641e9b7f57168d74918b1af8",
    "description": "Created Automatically",
    "teamId": "6411965fca413d4d4363257e",
    "idNumber": "73448380",
    "originator": "5ebd6bf75b2a0b65b12e1b38",
    "prKey": "wju5o5z6obnyctvw6p",
    "createdAt": "2023-03-25T06:58:07.310Z",
    "updatedAt": "2023-03-28T09:50:17.669Z",
    "name": "Lifestyle Picture Led"
  } -->


  <!-- {
    "position": [
        "72.40535136641165",
        "26.95151391829856"
    ],
    "_id": "641e9b7f57168d74918b1afe",
    "name": "Lifestyle_Picture Led",
    "description": "",
    "teamId": "6411965fca413d4d4363257e",
    "idNumber": 67325552,
    "originator": "5ebd6bf75b2a0b65b12e1b38",
    "requests": [
        {
            "ridKey": {
                "_id": "641e9b7f57168d74918b1af8",
                "prKey": "wju5o5z6obnyctvw6p"
            },
            "position": {
                "x": 93,
                "y": 79
            },
            "_id": "641e9b7f57168d74918b1aff",
            "end": true,
            "start": true,
            "kind": "project",
            "name": "Lifestyle_Picture Led",
            "canGoAhead": true,
            "id": "b0",
            "aoa": {
                "checked": true
            }
        },
        {
            "ridKey": {
                "_id": "641ea6a557168d74918b1b6a",
                "prKey": "3mrnhayng449jyu200"
            },
            "position": {
                "x": 281,
                "y": 76.46875
            },
            "_id": "641ea6a557168d74918b1b6f",
            "id": "1",
            "kind": "project",
            "name": "Digital Skyscraper, Social Instagram, Print Full Page_300x600 Entertainment5 Extend Online 01",
            "aoa": {
                "checked": true
            },
            "canGoAhead": false
        },
        {
            "ridKey": {
                "_id": "64219bed57168d74918b5c07",
                "prKey": "auem2jjsu5qowvs1ys"
            },
            "position": {
                "x": 452.99999237060547,
                "y": 85.28469848632812
            },
            "_id": "64219bed57168d74918b5c0d",
            "id": "2",
            "kind": "project",
            "name": "Digital Skyscraper, Social Instagram, Print Full Page_320x50 Entertainment5 Extend Online 02",
            "aoa": {
                "checked": true
            },
            "canGoAhead": false
        }
    ],
    "connections": [],
    "prKey": "0psrzfouc8qd0hbcfr",
    "createdAt": "2023-03-25T06:58:07.843Z",
    "updatedAt": "2023-03-28T10:41:15.717Z",
    "__v": 0,
    "canGoAhead": true,
    "zoom": "0.8122523963562356"
} -->

<!-- end: /project/list -->
