<li class="nav-item d-none d-sm-inline-block me-10">
  <!-- Apps -->
  <div class="dropdown">
    <button type="button" class="btn" id="navbarAppsDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-dropdown-animation>
      <i class="bi-heart-fill text-primary me-1"></i> <span class="text-primary">My Favorites</span>
    </button>

    <div class="dropdown-menu dropdown-menu-end dropdown-card navbar-dropdown-menu navbar-dropdown-menu-borderless" aria-labelledby="navbarAppsDropdown" style="width: 25rem;">
      <app-card-header></app-card-header>
      <app-card-body></app-card-body>
      <app-card-footer></app-card-footer>
    </div>
  </div>
  <!-- End Apps -->
</li>
